
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

:root{
  --primary: #C4BDBD;
}

body {
  margin: 0;
  font-family: 'Limelight', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #252424;
  color:white;
  padding:2% 10%;
}
#container{
  max-width: 400px;
  margin: auto;
}
h1{
  color: white;
  font-size:24px;
  text-align: center;
  margin: 1% auto;
  width:auto;
}
h2{
  text-align: center;
  font-size:24px;

}
#lyric-block {
  font-size:24px;
}
#guess-score-block{
  display: flex;
  justify-content: space-between;
  height: auto;
  padding: 5% 0%;
  gap: 0px;
}
.bordered{
  border: var(--primary) 3px solid;
  border-radius:50px;
}
.guess-score-widget{
  display: block;
  width:40px;
  height:40px;
}
#input-holder{
  display: flex;
  justify-content: space-between;
}
input{
  background-color: transparent;
  height:auto;
  width: 48.85%;
  padding-left: 5%;
  color:white;
}
.button{
  background-color: var(--primary);
  height:40px;
  width:40px;
  background-repeat: no-repeat;
  background-size: 26px;
  background-position: 0%;
  background-position-x: center;
}
input:focus{
  outline: none;
}
#submit-answer{
  background-image: url("/public/tick.png");
}
#skip-answer{
  background-image: url("/public/skip.png");
}
#previous-guess-block{
  width:100%;
  border: 3px var(--primary) solid;
  display: grid;
  grid-template-columns: 100%;
  border-radius: 10px;
  margin:5% 0%;
}
.shadow{
  -webkit-box-shadow: 10px 10px 15px 0px rgba(0,0,0,1);
  -moz-box-shadow: 10px 10px 15px 0px rgba(0,0,0,1);
  box-shadow: 10px 10px 15px 0px rgba(0,0,0,1);
}
.shadow > div{
  -webkit-box-shadow: 0px;
  -moz-box-shadow: 0px;
  box-shadow: 0px;
}
.previous-guess{
  height:30px;
  padding:5px 20px;
}
